table {
    width: 100%;
    margin-top: 10px;
  }

  th{
    width: 12.5%;
  }
  
  .pointer{
    cursor: pointer;
    color: #1878b0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }